header{
	margin-top: 40pt;
	margin-bottom: 20pt;
}

body {
	font-family: 'Fredoka', 'Zen Maru Gothic', sans-serif;
	font-size: 18pt;
	width: 600pt;
	margin: 0 auto;
}

menu {
	list-style-type: none;;
	padding: 0;
}



/*リンクのスタイル*/
a{ 
    text-decoration: none;
    color: #599fce;
}
a:before{ content: "["; }
a:after{ content: "]"; }

.bluesky { color: #509ccf; }
.pixiv { color: #75bdd3; }
.tumblr { color: #7cb8ae; }
.misskey { color: #9dce81; }
.soundcloud { color: #dda374; }
.youtube { color: #d47a7a; }
.instagram { color: #d684c2; }
.x { color: #555555; }

.image{
	max-width: 600pt;
	height: auto;
}

@media (orientation: portrait) {
    header{
        margin-top: 60pt;
        margin-bottom: 30pt;
    }
	body{
		font-size: 24pt;
        width: auto;
        margin: auto;
	}
    .image{
        max-width: 100%;
        height: auto;
    }
}