

body {
    font-family: 'Source Code Pro', monospace, 'zen-maru-gothic-medium', 'zen-maru-gothic-black', sans-serif;
    padding: 2em;
}

menu {
    list-style-type: none;
    padding: 0;
}

a{ text-decoration: none; color: #599fce; }

.bluesky { color: #509ccf; }
.pixiv { color: #8ccada; }
.tumblr { color: #659497; }
.misskey { color: #9dce81; }
.instagram { color: #d393c0; }
.youtube { color: #a74c4c; }
.x { color: #222222; }

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-black {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.image{
    max-width: 800px;
    height: auto;
}